/* line 1, static/css/statlookup.scss */
.input {
  position: relative;
  font-size: 1.5em;
  background: linear-gradient(21deg, #d39612, #da920cec);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em; }
  /* line 22, static/css/statlookup.scss */
  .input *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 .325em;
    z-index: 1; }
    /* line 33, static/css/statlookup.scss */
    .input *:not(span):focus + span {
      opacity: 1;
      transform: scale(1); }
  /* line 40, static/css/statlookup.scss */
  .input span {
    transform: scale(0.993, 0.94);
    transition: transform .5s, opacity .25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #e4bc0d,  -3px 3px 30px #e6b30e; }

/* line 65, static/css/statlookup.scss */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 1em; }

/* line 73, static/css/statlookup.scss */
html, body {
  height: 100%; }

/* line 77, static/css/statlookup.scss */
input {
  font-family: inherit;
  line-height: inherit;
  color: #2e3750;
  min-width: 12em; }

/* line 84, static/css/statlookup.scss */
::placeholder {
  color: #cbd0d5; }

/* line 88, static/css/statlookup.scss */
html::after {
  content: '';
  background: linear-gradient(21deg, #ffc710, #d4a50a);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0; }

/* line 107, static/css/statlookup.scss */
.checkbox-wrapper-19 {
  box-sizing: border-box;
  --background-color: #fff;
  --checkbox-height: 25px; }

@-moz-keyframes dothabottomcheck-19 {
  0% {
    height: 0; }
  100% {
    height: calc(var(--checkbox-height) / 2); } }

@-webkit-keyframes dothabottomcheck-19 {
  0% {
    height: 0; }
  100% {
    height: calc(var(--checkbox-height) / 2); } }

@keyframes dothabottomcheck-19 {
  0% {
    height: 0; }
  100% {
    height: calc(var(--checkbox-height) / 2); } }

@keyframes dothatopcheck-19 {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: calc(var(--checkbox-height) * 1.2); } }

@-webkit-keyframes dothatopcheck-19 {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: calc(var(--checkbox-height) * 1.2); } }

@-moz-keyframes dothatopcheck-19 {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: calc(var(--checkbox-height) * 1.2); } }

/* line 176, static/css/statlookup.scss */
.checkbox-wrapper-19 input[type=checkbox] {
  display: none; }

/* line 180, static/css/statlookup.scss */
.checkbox-wrapper-19 .check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: calc(var(--checkbox-height) * .1) solid #000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer; }

/* line 197, static/css/statlookup.scss */
.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * .2);
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5; }

/* line 218, static/css/statlookup.scss */
.checkbox-wrapper-19 .check-box::before {
  top: calc(var(--checkbox-height) * .72);
  left: calc(var(--checkbox-height) * .41);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/* line 228, static/css/statlookup.scss */
.checkbox-wrapper-19 .check-box::after {
  top: calc(var(--checkbox-height) * .37);
  left: calc(var(--checkbox-height) * .05);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* line 238, static/css/statlookup.scss */
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
  border-color: #34b93d; }

/* line 242, static/css/statlookup.scss */
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
  height: calc(var(--checkbox-height) / 2);
  -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  animation: dothabottomcheck-19 0.2s ease 0s forwards; }

/* line 250, static/css/statlookup.scss */
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
  animation: dothatopcheck-19 0.4s ease 0s forwards; }
