.keyboardKey {
    background-color: aliceblue;

}
.row {
    padding: 1px;
    width: 1300px;
}

.parent {
    padding: 2px;
    margin: 2px;
    background: gray;
    color: aliceblue;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .parent_no_key {
    padding: 2px;
    margin: 2px;
    background: rgb(48, 48, 47);
    color: aliceblue;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
.parent:hover{
    background: green;
    opacity: .5;
    cursor: pointer;
}

.rowOneKey{
    height: 50px;
    width: 56.16px;
}

.rowTwoKey{
    height: 50px;
}
.rowThreeKey{
    height: 50px;
    width: 47.45px;
}
.rowFourKey{
    height: 50px;
    width: 45.4px;
}
.rowFiveKey{
    height: 50px;
    width: 55.5px;
}
.rowSixKey{
    height: 50px;
    width: 58.5px;
}

.textStyle {
    color: white;
}

.bindItem {
    color: white;
    background: rgb(54, 54, 58);
    width: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hide {
    display: none;
    
  }
    
  .displayDesc:hover + .hide {
    display: block;
    color: rgb(218, 203, 203);
  }

  .displayDesc:hover{
    background: rgb(42, 42, 175);

  }


  .pickLoadoutText{
    color: rgb(230, 221, 221);

  }

img {
    transition: opacity .3s linear;
}
img:hover {
    opacity: .5;
    cursor: pointer;
}

.gunBackground {
    background-color: transparent;
     
}