#messenger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 20px;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
}
body {
color: #f0f0f0;
align-items: center;
justify-content: center;

text-align: center;
background-color: rgb(20, 13, 9);
}

h3 {
font-size: 3vw;
color: rgb(193, 187, 160);

&:before {
    content: attr(data-before);
    word-break: break-all;
    opacity: 0.5;
}
&:after {
    content: attr(data-after);
    word-break: break-all;
    opacity: 0.5;
}
}
h1 {
    font-size: 6vw;
    color: rgb(193, 187, 160);
    
    &:before {
        content: attr(data-before);
        word-break: break-all;
        opacity: 0.5;
    }
    &:after {
        content: attr(data-after);
        word-break: break-all;
        opacity: 0.5;
    }
    }
.button {
padding: 20px 40px;
font: inherit;
color: rgb(20, 13, 9);
background-color: rgb(193, 187, 160);
opacity: 0;
transform: translate3d(0,50px,0);
transition: all 0.3s cubic-bezier(0,1,0,1);
cursor: pointer;

&.show {
    opacity: 1;
    transform: translate3d(0,30px,0);
}
}