body {
    background-color: rgb(20, 13, 9);

    
    }

p1 {
    color: white;
}

p2 {
    color: white;
}


nav[role="skinmaster"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav[role="skinmaster"] ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 40%;
    height: 50%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

nav[role="skinmaster"] ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav[role="skinmaster"] ul li:hover {
    color: black;
}

nav[role="skinmaster"] ul li:hover span {
    transform: translateY(0) scale(2);
}

nav[role="skinmaster"] ul li span:nth-child(1) {
    --n: 1;
}

nav[role="skinmaster"] ul li span:nth-child(2) {
    --n: 2;
}

nav[role="skinmaster"] ul li span:nth-child(3) {
    --n: 3;
}

nav[role="skinmaster"] ul li span:nth-child(4) {
    --n: 4;
}
    
#learderboard_screen{
    width: 100%;
    height: 100%;
}
#about_screen{
    width: 100%;
    height: 100%;
}
#report_bug_screen{
    width: 100%;
    height: 100%;
}
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.grow {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 60px;
    width: 22%;
    margin: 5px 1% 5px 1%;
    float: left;

    transition: height 0.5s;
    -webkit-transition: height 0.5s;

    overflow: hidden;

  }
.grow:hover {
    height: 500px;
  }

  * { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


p{
  color: white;  
}


#practise_game:hover{
    opacity: 50%;

}
#submit_button:hover{
    opacity: 50%;
}
#boxes {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

#column1 {
    background-color: #4e4e4e;
    float: left;
    height: 190px;
    width: 220px;
    padding: 0 10px;
    border: 2.5px;
    border-style: solid;
    border-color: black;
}
#column2 {
    background-color: #7b7b80;
    float: left;
    height: 190px;
    width: 220px;
    padding: 0 10px;
    border: 2.5px;
    border-style: solid;
    border-color: black;
}
#column3 {
    background-color: #4e4e4e;
    float: left;
    height: 190px;
    width: 220px;
    padding: 0 10px;
    border: 2.5px;
    border-style: solid;
    border-color: black;
}
#column4 {
    background-color: #7b7b80;
    float: left;
    height: 190px;
    width: 220px;
    padding: 0 10px;
    border: 2.5px;
    border-style: solid;
    border-color: black;
}
#column5 {
    background-color: #4e4e4e;
    float: left;
    height: 190px;
    width: 220px;
    padding: 0 10px;
    border: 2.5px;
    border-style: solid;
    border-color: black;
}
#column6 {
    background-color: #7b7b80;
    float: left;
    height: 190px;
    width: 220px;
    padding: 0 10px;
    border: 2.5px;
    border-style: solid;
    border-color: black;
}
#column7 {
    background-color: #4e4e4e;
    float: left;
    height: 190px;
    width: 220px;
    padding: 0 10px;
    border: 2.5px;
    border-style: solid;
    border-color: black;
}
#column8 {
    background-color: #7b7b80;
    float: left;
    height: 190px;
    width: 220px;
    padding: 0 10px;
    border: 2.5px;
    border-style: solid;
    border-color: black;
}
#column9 {
    background-color: #4e4e4e;
    float: left;
    height: 190px;
    width: 220px;
    padding: 0 10px;
    border: 2.5px;
    border-style: solid;
    border-color: black;

}
#column10 {
    background-color: #7b7b80;
    float: left;
    height: 190px;
    width: 220px;
    padding: 0 10px;
    border: 2.5px;
    border-style: solid;
    border-color:  black;
    border-top-color: black;
}
p1{
   font-size: 55px; 
}
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  color: white;

}


input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type="checkbox"] {
  /* ...existing styles */

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]::before {
  /* ...existing styles */

  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]::before {
  /* ...existing styles */

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

#middle_left{
  text-align: center;
  align-items: center;

}
#leftbox {
  float:left; 
  margin:0 auto;

  width:25%;
  height:280px;
}
#middlebox{
  float:left; 

  width:50%;
  height:280px;
}
#rightbox{
  float:right;

  width:25%;
  height:280px;
}
h1{
  color:green;
  text-align:center;
}