
 /* Style the tab buttons */
 .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }

  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }

  /* Set default styles for tab content */
  .tabTitlecontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }

  /* Style each tab content individually */
  #Paper {background-color:var(--bs-blue);}
  #Holo {background-color:var(--bs-purple);}
  #Foil {background-color:var(--bs-pink);}
  #Gold {background-color:var(--bs-yellow);}

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .container {
    display: flex;
    flex-direction: row;

}

#outer {
  background: rgb(77, 77, 75);
  text-align: center;

}
.inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height:160px;
  margin:10px;
  width: 10%;
  background: whitesmoke;
  vertical-align:top;

}
.inner3 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height:160px;
  margin:10px;
  width: 10%;
  vertical-align:top;

}
    /* width */
::-webkit-scrollbar {
width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(252, 248, 248); 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(104, 103, 103);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(148, 146, 146);
}


.inner4{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  width: 25%;
  background: gray;
  vertical-align:top;

}
.inner2 {
  display: inline;
  height:50px;
  margin:10px;

}
.button2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: #212121;
  border: none;
  font: inherit;
  color: #e8e8e8;
  font-size: 15px;
  font-weight: 600;
  border-radius: 20px;
  cursor: not-allowed;
  overflow: hidden;
  transition: all 0.3s ease cubic-bezier(0.23, 1, 0.320, 1);
  border: 5px solid #6c757d;
}

.button2 span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.button2::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  translate: 0 105%;
  background-color: #F53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button2 svg {
    width: 32px;
    height: 32px;
    fill: #F53844;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    border: 10px solid #6c757d;
}
.button2:hover {
    animation: shake 0.2s linear 1;
}

.button2:hover::before {
    translate: 0 0;
}

.button2:hover svg {
    fill: #e8e8e8;
}

@keyframes shake {
0% {
    rotate: 0deg;
}

33% {
    rotate: 10deg;
}

66% {
    rotate: -10deg;
}

100% {
    rotate: 10deg;
}
}
.button3 {
    position: relative;
    background-color: #212121;
    border-radius: 5px;
    padding: 5px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 230px;
    height: 35px;
    color: #fff;
    border: none;
    font-size: 15px;
    transition: all .3s ease-in-out;
    z-index: 1;
    border: 2px solid #6c757d;
    overflow: hidden;
}

.button3::before {
    content: "";
    background-color: green;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.button3:hover::before {
    width: 100%;
}

label {
    display: flex;
    flex-direction: row;
    padding-left: 0.4em;
}

input {
    height: 20px;
    flex: 0 0 20px;
    margin-left: 5px;
}
img {
    transition: opacity .3s linear;
}

img:hover {
    opacity: .5;
    cursor: pointer;
}