<!DOCTYPE html>
<html lang="en" style="background-color: rgb(68, 67, 65);">
  <link rel="icon" type="image/x-icon" href="/static/images/tools.png">
    <!-- Responsive navbar-->
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
        <div class="container px-lg-5">    
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'calculator' %}">Case Calculator</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'sticker' %}">Sticker Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'roulette' %}">Strat Roulette</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'bind' %}">Bind Generator</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'skin_master' %}">Skin Master</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://steamcommunity.com/tradeoffer/new/?partner=127649164&token=AG79v66Q">DONATE (Trade Link)</a></li>
                </ul>
            </div>
        </div>
    </nav>
  <head>
    <div class="popup-overlay overlay" id="popupOverlay" style="display: none;">

      <div class="popup" id="popup">
  
          <span class="close" id="closePopup">&times;</span>
  
          <div class="popup-content">
            <b>  Patch Notes 13/09/2024:</b><br>
            1. Added Mobile Compatibility Disclaimer <br>
            2. Made Drop Countdown Programmatic <br>
            3. Added Update Log <br> <br>
            <b>  Patch Notes 16/10/2023:</b><br>
            1. Added Weekly Drop Timer<br>
            2. Redesigned Homepage<br>
            3. Released Skin Master Feature<br>
            &nbsp&nbsp&nbsp - Practise Mode<br>
            &nbsp&nbsp&nbsp - Survival Mode<br>
            &nbsp&nbsp&nbsp - Competitive Mode<br>
            4. Minor changes to Bind Generator styling<br>
            5. Changed Domain from 'csgotools' to 'cstools' </i><br><br>
            <b>  Patch Notes 28/06/2023:</b><br>
            Implemented Bind Generator<br><br>

            <b>  Patch Notes 19/05/2023:</b><br>
            Added Case Budget Calculator<br><br>

            <b>  Patch Notes 17/05/2023:</b><br>
            Added Strat Roulette<br><br>

            <b>  Patch Notes 15/05/2023:</b><br>
            1. www.CSGOTOOLS.com was launched<br>
            2. Added Case Calculator<br>
            3. Added Sticker Search<br>
  
          </div>
  
      </div>
  
  </div>
       <!-- Favicon-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>CSTools</title>


    
    
    <script>
      //Mobile Disclaimer
      if (navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry|IEMobile)/)) {
      alert("Please note this website was note designed for Mobile Devices, Please consider viewing on a Desktop or Laptop for the best experience.😊")
    } else {
     
    }
    </script>





    
  </head>
  {{ Kilowatt.blue|json_script:"Kilowatt_blue" }}
  {{ Kilowatt.purple|json_script:"Kilowatt_purple" }}
  {{ Kilowatt.pink|json_script:"Kilowatt_pink" }}
  {{ Kilowatt.red|json_script:"Kilowatt_red" }}

  {{ Gallery.blue|json_script:"Gallery_blue" }}
  {{ Gallery.purple|json_script:"Gallery_purple" }}
  {{ Gallery.pink|json_script:"Gallery_pink" }}
  {{ Gallery.red|json_script:"Gallery_red" }}

  {{ Chroma.blue|json_script:"Chroma_blue" }}
  {{ Chroma.purple|json_script:"Chroma_purple" }}
  {{ Chroma.pink|json_script:"Chroma_pink" }}
  {{ Chroma.red|json_script:"Chroma_red" }}

  {{ Chroma_2.blue|json_script:"Chroma_2_blue" }}
  {{ Chroma_2.purple|json_script:"Chroma_2_purple" }}
  {{ Chroma_2.pink|json_script:"Chroma_2_pink" }}
  {{ Chroma_2.red|json_script:"Chroma_2_red" }}

  {{ Chroma_3.blue|json_script:"Chroma_3_blue" }}
  {{ Chroma_3.purple|json_script:"Chroma_3_purple" }}
  {{ Chroma_3.pink|json_script:"Chroma_3_pink" }}
  {{ Chroma_3.red|json_script:"Chroma_3_red" }}

  {{ Clutch.blue|json_script:"Clutch_blue" }}
  {{ Clutch.purple|json_script:"Clutch_purple" }}
  {{ Clutch.pink|json_script:"Clutch_pink" }}
  {{ Clutch.red|json_script:"Clutch_red" }}

  {{ CS20.blue|json_script:"CS20_blue" }}
  {{ CS20.purple|json_script:"CS20_purple" }}
  {{ CS20.pink|json_script:"CS20_pink" }}
  {{ CS20.red|json_script:"CS20_red" }}

  {{ CSGO_Weapon.blue|json_script:"CSGO_Weapon_blue" }}
  {{ CSGO_Weapon.purple|json_script:"CSGO_Weapon_purple" }}
  {{ CSGO_Weapon.pink|json_script:"CSGO_Weapon_pink" }}
  {{ CSGO_Weapon.red|json_script:"CSGO_Weapon_red" }}

  {{ CSGO_Weapon_2.blue|json_script:"CSGO_Weapon_2_blue" }}
  {{ CSGO_Weapon_2.purple|json_script:"CSGO_Weapon_2_purple" }}
  {{ CSGO_Weapon_2.pink|json_script:"CSGO_Weapon_2_pink" }}
  {{ CSGO_Weapon_2.red|json_script:"CSGO_Weapon_2_red" }}

  {{ CSGO_Weapon_3.blue|json_script:"CSGO_Weapon_3_blue" }}
  {{ CSGO_Weapon_3.purple|json_script:"CSGO_Weapon_3_purple" }}
  {{ CSGO_Weapon_3.pink|json_script:"CSGO_Weapon_3_pink" }}
  {{ CSGO_Weapon_3.red|json_script:"CSGO_Weapon_3_red" }}

  {{ Danger_Zone.blue|json_script:"Danger_Zone_blue" }}
  {{ Danger_Zone.purple|json_script:"Danger_Zone_purple" }}
  {{ Danger_Zone.pink|json_script:"Danger_Zone_pink" }}
  {{ Danger_Zone.red|json_script:"Danger_Zone_red" }}

  {{ Dreams_and_Nightmares.blue|json_script:"Dreams_and_Nightmares_blue" }}
  {{ Dreams_and_Nightmares.purple|json_script:"Dreams_and_Nightmares_purple" }}
  {{ Dreams_and_Nightmares.pink|json_script:"Dreams_and_Nightmares_pink" }}
  {{ Dreams_and_Nightmares.red|json_script:"Dreams_and_Nightmares_red" }}

  {{ eSports_2013_Winter.blue|json_script:"eSports_2013_Winter_blue" }}
  {{ eSports_2013_Winter.purple|json_script:"eSports_2013_Winter_purple" }}
  {{ eSports_2013_Winter.pink|json_script:"eSports_2013_Winter_pink" }}
  {{ eSports_2013_Winter.red|json_script:"eSports_2013_Winter_red" }}

  {{ eSports_2014_Summer.blue|json_script:"eSports_2014_Summer_blue" }}
  {{ eSports_2014_Summer.purple|json_script:"eSports_2014_Summer_purple" }}
  {{ eSports_2014_Summer.pink|json_script:"eSports_2014_Summer_pink" }}
  {{ eSports_2014_Summer.red|json_script:"eSports_2014_Summer_red" }}

  {{ Falchion.blue|json_script:"Falchion_blue" }}
  {{ Falchion.purple|json_script:"Falchion_purple" }}
  {{ Falchion.pink|json_script:"Falchion_pink" }}
  {{ Falchion.red|json_script:"Falchion_red" }}

  {{ Fracture.blue|json_script:"Fracture_blue" }}
  {{ Fracture.purple|json_script:"Fracture_purple" }}
  {{ Fracture.pink|json_script:"Fracture_pink" }}
  {{ Fracture.red|json_script:"Fracture_red" }}

  {{ Gamma.blue|json_script:"Gamma_blue" }}
  {{ Gamma.purple|json_script:"Gamma_purple" }}
  {{ Gamma.pink|json_script:"Gamma_pink" }}
  {{ Gamma.red|json_script:"Gamma_red" }}

  {{ Gamma_2.blue|json_script:"Gamma_2_blue" }}
  {{ Gamma_2.purple|json_script:"Gamma_2_purple" }}
  {{ Gamma_2.pink|json_script:"Gamma_2_pink" }}
  {{ Gamma_2.red|json_script:"Gamma_2_red" }}
  
  {{ Glove.blue|json_script:"Glove_blue" }}
  {{ Glove.purple|json_script:"Glove_purple" }}
  {{ Glove.pink|json_script:"Glove_pink" }}
  {{ Glove.red|json_script:"Glove_red" }}

  {{ Horizon.blue|json_script:"Horizon_blue" }}
  {{ Horizon.purple|json_script:"Horizon_purple" }}
  {{ Horizon.pink|json_script:"Horizon_pink" }}
  {{ Horizon.red|json_script:"Horizon_red" }}

  {{ Huntsman.blue|json_script:"Huntsman_blue" }}
  {{ Huntsman.purple|json_script:"Huntsman_purple" }}
  {{ Huntsman.pink|json_script:"Huntsman_pink" }}
  {{ Huntsman.red|json_script:"Huntsman_red" }}

  {{ Operation_Bravo.blue|json_script:"Operation_Bravo_blue" }}
  {{ Operation_Bravo.purple|json_script:"Operation_Bravo_purple" }}
  {{ Operation_Bravo.pink|json_script:"Operation_Bravo_pink" }}
  {{ Operation_Bravo.red|json_script:"Operation_Bravo_red" }}

  {{ Operation_Breakout.blue|json_script:"Operation_Breakout_blue" }}
  {{ Operation_Breakout.purple|json_script:"Operation_Breakout_purple" }}
  {{ Operation_Breakout.pink|json_script:"Operation_Breakout_pink" }}
  {{ Operation_Breakout.red|json_script:"Operation_Breakout_red" }}

  {{ Operation_Broken_Fang.blue|json_script:"Operation_Broken_Fang_blue" }}
  {{ Operation_Broken_Fang.purple|json_script:"Operation_Broken_Fang_purple" }}
  {{ Operation_Broken_Fang.pink|json_script:"Operation_Broken_Fang_pink" }}
  {{ Operation_Broken_Fang.red|json_script:"Operation_Broken_Fang_red" }}

  {{ Operation_Hydra.blue|json_script:"Operation_Hydra_blue" }}
  {{ Operation_Hydra.purple|json_script:"Operation_Hydra_purple" }}
  {{ Operation_Hydra.pink|json_script:"Operation_Hydra_pink" }}
  {{ Operation_Hydra.red|json_script:"Operation_Hydra_red" }}

  {{ Operation_Phoenix.blue|json_script:"Operation_Phoenix_blue" }}
  {{ Operation_Phoenix.purple|json_script:"Operation_Phoenix_purple" }}
  {{ Operation_Phoenix.pink|json_script:"Operation_Phoenix_pink" }}
  {{ Operation_Phoenix.red|json_script:"Operation_Phoenix_red" }}

  {{ Operation_Riptide.blue|json_script:"Operation_Riptide_blue" }}
  {{ Operation_Riptide.purple|json_script:"Operation_Riptide_purple" }}
  {{ Operation_Riptide.pink|json_script:"Operation_Riptide_pink" }}
  {{ Operation_Riptide.red|json_script:"Operation_Riptide_red" }}

  {{ Operation_Vanguard.blue|json_script:"Operation_Vanguard_blue" }}
  {{ Operation_Vanguard.purple|json_script:"Operation_Vanguard_purple" }}
  {{ Operation_Vanguard.pink|json_script:"Operation_Vanguard_pink" }}
  {{ Operation_Vanguard.red|json_script:"Operation_Vanguard_red" }}

  {{ Operation_Wildfire.blue|json_script:"Operation_Wildfire_blue" }}
  {{ Operation_Wildfire.purple|json_script:"Operation_Wildfire_purple" }}
  {{ Operation_Wildfire.pink|json_script:"Operation_Wildfire_pink" }}
  {{ Operation_Wildfire.red|json_script:"Operation_Wildfire_red" }}

  {{ Prisma.blue|json_script:"Prisma_blue" }}
  {{ Prisma.purple|json_script:"Prisma_purple" }}
  {{ Prisma.pink|json_script:"Prisma_pink" }}
  {{ Prisma.red|json_script:"Prisma_red" }}

  {{ Prisma_2.blue|json_script:"Prisma_2_blue" }}
  {{ Prisma_2.purple|json_script:"Prisma_2_purple" }}
  {{ Prisma_2.pink|json_script:"Prisma_2_pink" }}
  {{ Prisma_2.red|json_script:"Prisma_2_red" }}

  {{ Recoil.blue|json_script:"Recoil_blue" }}
  {{ Recoil.purple|json_script:"Recoil_purple" }}
  {{ Recoil.pink|json_script:"Recoil_pink" }}
  {{ Recoil.red|json_script:"Recoil_red" }}

  {{ eSports_2013.blue|json_script:"eSports_2013_blue" }}
  {{ eSports_2013.purple|json_script:"eSports_2013_purple" }}
  {{ eSports_2013.pink|json_script:"eSports_2013_pink" }}
  {{ eSports_2013.red|json_script:"eSports_2013_red" }}

  {{ Revolver.blue|json_script:"Revolver_blue" }}
  {{ Revolver.purple|json_script:"Revolver_purple" }}
  {{ Revolver.pink|json_script:"Revolver_pink" }}
  {{ Revolver.red|json_script:"Revolver_red" }}

  {{ Revoultion.blue|json_script:"Revoultion_blue" }}
  {{ Revoultion.purple|json_script:"Revoultion_purple" }}
  {{ Revoultion.pink|json_script:"Revoultion_pink" }}
  {{ Revoultion.red|json_script:"Revoultion_red" }}

  {{ Shadow.blue|json_script:"Shadow_blue" }}
  {{ Shadow.purple|json_script:"Shadow_purple" }}
  {{ Shadow.pink|json_script:"Shadow_pink" }}
  {{ Shadow.red|json_script:"Shadow_red" }}

  {{ Shattered_Web.blue|json_script:"Shattered_Web_blue" }}
  {{ Shattered_Web.purple|json_script:"Shattered_Web_purple" }}
  {{ Shattered_Web.pink|json_script:"Shattered_Web_pink" }}
  {{ Shattered_Web.red|json_script:"Shattered_Web_red" }}

  {{ Snakebite.blue|json_script:"Snakebite_blue" }}
  {{ Snakebite.purple|json_script:"Snakebite_purple" }}
  {{ Snakebite.pink|json_script:"Snakebite_pink" }}
  {{ Snakebite.red|json_script:"Snakebite_red" }}

  {{ Spectrum.blue|json_script:"Spectrum_blue" }}
  {{ Spectrum.purple|json_script:"Spectrum_purple" }}
  {{ Spectrum.pink|json_script:"Spectrum_pink" }}
  {{ Spectrum.red|json_script:"Spectrum_red" }}

  {{ Spectrum_2.blue|json_script:"Spectrum_2_blue" }}
  {{ Spectrum_2.purple|json_script:"Spectrum_2_purple" }}
  {{ Spectrum_2.pink|json_script:"Spectrum_2_pink" }}
  {{ Spectrum_2.red|json_script:"Spectrum_2_red" }}

  {{ Winter_Offensive.blue|json_script:"Winter_Offensive_blue" }}
  {{ Winter_Offensive.purple|json_script:"Winter_Offensive_purple" }}
  {{ Winter_Offensive.pink|json_script:"Winter_Offensive_pink" }}
  {{ Winter_Offensive.red|json_script:"Winter_Offensive_red" }}
  {{ cases|json_script:"cases" }}
<body id="the-body" >

<main style="background-color: rgb(68, 67, 65);">
  <div class="container py-4" >
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img href="{% url 'index' %}" src="/static/images/tools.png" width="40" height="auto" class="me-2" alt="tool emoji" style="display: block;">
        <span style="color: white;" class="fs-4">CSTools</span>
      </a>
    </header>

    <div class="rcorners3   mb-4 " style="background-color: white;box-shadow: inset 0 0 0 15px #c46800;padding: 0%; position: relative;">

        <div class="rounded container-fluid py-5 video-container"style="background-color:white;" >
            
            <video autoplay muted loop  width="100%" style="float: right;" class="video" >
                <source src="/static/videos/CaseAnimation/CaseAnimationExtended.mp4" type="video/mp4"style="padding: 0px;margin: 0px;" style="display: block;" />
          </video>
        <div style = "position:relative; left:80px; top:2px;">
         
            <h1 class="display-5 fw-bold caption">Weekly Care Package Drop Reset</h1>
            <div class="caption" style="font-size: 35px;display: flex;margin-bottom: 2px;padding-bottom: 2px;">
              <p id="days" style="padding-right: 10px;"></p>
              <p style="padding-right: 10px;">Days  </p>
              <p style="padding-right: 10px;" id="hours"></p>
              <p style="padding-right: 10px;">Hours  </p>
              <p style="padding-right: 10px;" id="minutes"></p>
              <p style="padding-right: 10px;">Minutes  </p>
              <p  style="padding-right: 10px;" id="seconds"></p>
              <p style="padding-right: 10px;" >Seconds  </p>
            </div>
            <p class="col-md-8 fs-4 caption">Time remaining until you can receive another Care Package on your next XP level up. This happens every week on Wednesday at 1AM (BST)</p>
            <div class="container-fluid">
              
              <div >
                <div id="caseRow" style="width: 750px;">

                </div>
                <div id="selectedCase" style="align-items: center;text-align: center;">

                </div>
                <div>
                <button  type="button" id="openCase"  style="background-color: rgb(146, 97, 7);border-color: rgb(168, 115, 16);width: 200px;display: none;" onclick="startRoll();" class="caption btn btn-primary btn-lg timezonehover" type="button">Open</button>
                <button  type="button" id="selectCase"  style="background-color: rgb(146, 97, 7);border-color: rgb(168, 115, 16);width: 200px;" onclick="selectCase();" class="caption btn btn-primary btn-lg timezonehover" type="button">Open Cases!</button>
              </div>
              </div>
              
            </div>
        
           
        </div>
    </div> 
    </div>

      <div id="caseopener" class="container-fluid caseOpeningArea " style="display: none;">
        <div class="row">

          <div  class="container animationAreaItems">
            <div class="row">
              <div class="row text-center flex-nowrap mx-auto">

                  <div id="box1" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box2" id="" class="itemBoxAn"  style="  width: 153px;">  </div>
                  <div id="box3" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box4" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box5" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box6" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box7" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box8" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box9" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box10" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box11" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box12" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box13" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box14" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box15" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box16" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box17" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box18" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box19" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box20" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box21" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box22" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box23" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="boxItem" class="itemBoxAn itemBoxAnW"  style="  width: 153px;">    </div>
                  <div id="box24" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box25" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box26" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box27" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box28" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box29" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box30" class="itemBoxAn" style="  width: 153px;">  </div>
                  <div id="box31" class="itemBoxAn" style="  width: 153px;">  </div>

              </div>
            </div>
       


        </div>
      </div>
    </div>
    <style>
      .case{

      }
    </style>
    <script>
      function caseSelected(cases){
        document.getElementById("selectedCase").innerHTML = ""
        document.getElementById("selectedCase").value =cases
        img = document.createElement('img')
        img.src = "./static/cases/" + cases+".png"
    
        img.value
        img.value =cases
        document.getElementById("selectedCase").appendChild(img)
        document.getElementById("openCase").style.display="block"
        document.getElementById("selectCase").style.display="none"
        
      }
      function selectCase(){
        document.getElementById("caseRow").innerHTML = ""
        data = JSON.parse(document.getElementById("cases").textContent);
        for (var i = 0; i < data.length; i++) {
          img = document.createElement('img')
          img.style.width = "50px"  
          img.id = data[i]
          img.data =data[i]
          x= "test"
          img.onclick = (function(x) {
          return function() {
            caseSelected(x);
          };
      })(data[i]);
          img.src = "./static/cases/" + data[i]+".png"
          document.getElementById("caseRow").appendChild(img)
          //Do something
      }
      
      }
      function getRaity(type){                 
        blue_odds = 0.7992;
        purple_odds = 0.1598;
        pink_odds = 0.032;
        red_odds = 0.0064;
        yellow_odds =  0.0026
        num = Math.random();
          if (num >= 0 && num <= yellow_odds) {
            if(type == "filler"){
              unboxed = "red"
            }
            if(type == "unboxed"){
              unboxed = "yellow"
            }
          }
          else if (num >= (yellow_odds) && num <= yellow_odds+red_odds) {
              unboxed = "red"
          }
          else if  (num >= (yellow_odds+red_odds) && num <= yellow_odds+red_odds+pink_odds) {
                unboxed = "pink"
          }
          else if (num >= yellow_odds+red_odds+pink_odds&& num <= yellow_odds+red_odds+pink_odds+purple_odds) {
                unboxed = "purple"
          }
          else if (num > yellow_odds+red_odds+pink_odds+purple_odds) {
                unboxed = "blue"
          }
          return unboxed
      }

      function simulateloot(){     
        unboxed = "Nothing"
        cases = JSON.parse(document.getElementById("cases").textContent);
        selectedCase = document.getElementById("selectedCase").value
       
        for (let i = 1; i < 31; i++) {
          rarity = getRaity("filler")
          div_id = "box"+String(i)
    
          data_selection_rarity =selectedCase + "_" +rarity
          data = JSON.parse(document.getElementById(data_selection_rarity).textContent);
          document.getElementById(div_id).style.background = rarity
          document.getElementById(div_id).style.alignContent = "center"
          img = document.createElement('img')
          img.style.width = "150px"  
          img.style.paddingRight = "17px"  

          randomIndex = Math.floor(Math.random() * ((data.length-1) - 0 + 1)) + 0
  
          img.src = "./static/case_opener/"+selectedCase+"/"+rarity+"/"+data[randomIndex]   

          document.getElementById(div_id).textContent = ''
          document.getElementById(div_id).appendChild(img)
        
          document.getElementById(div_id).style.background = rarity
        }
        rarity_selected = getRaity("unboxed")
        data_selection_rarity =selectedCase + "_" +rarity_selected
        data = JSON.parse(document.getElementById(data_selection_rarity).textContent);


        document.getElementById("boxItem").style.background = rarity_selected  
        document.getElementById("boxItem").style.alignContent = "center"
        img = document.createElement('img')
        img.style.width = "150px"  
        img.style.paddingRight = "17px"  
        randomIndex = Math.floor(Math.random() * ((data.length-1) - 0 + 1)) + 0
      
        img.src = "./static/case_opener/"+selectedCase+"/"+rarity_selected+"/"+data[randomIndex]   
     
        document.getElementById("boxItem").textContent = ''
        document.getElementById("boxItem").appendChild(img)
        }
     
   
    </script>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
       
          <h2>Connect with us on Steam</h2>

          <p> If you enjoy using CSTools, consider joining the CSTools Steam Group. A great place to suggest any new ideas, report bugs or make conversations with fellow players.</p>
          <button class="btn btn-outline-light" type="button" onclick="steamButton()" >Join Group!</button>
          <img src="/static/images/Steam-Logo.png"  width="570" height="auto"  alt="Steam Logo">

        </div>
      </div> 
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>What is CSTools?</h2>
          <p>This website is a personal project being developed for fun to combine my intrests in Video Games and Computer Science. I have created several tools
             for Counter-Strike which you can use at absolutely no cost and devoid of any intrusive advertisements.
            </p>
            <p>
                CSTools began development 24th of April 2023 and continues to receive regular updates to improve functionality and implement new features.
                As a one-person initiative, I warmly welcome any insights or recommendations you might wish to share, for they are genuinely appretiated and actively sought.
                <br>
                If you like the site, consider checking out my other project <a style="color: black;" href="{% url 'rstools' %}"><b>RSTools</b></a> for a collection of Old School Runescape tools.
            <p><i>
                <b>  Latest Patch Notes XX/XX/XXXX:</b><br>
                1. Added Kilowatt and Gallery Case to Case Calculator<br>
                2. Added Kilowatt and Gallery Skins to Skin Master<br>
                3. Added Copenhagen Team 2024 to Sticker Search<br>
                4. Added some Elemental and Character Craft Stickers to Sticker Search <br>
                5. Updated Steam Group link<br>
                6. Removed broken CS2 Binds<br>


                <!-- Compatibility Disclaimer - in progress -->
                7. Added Case Opener Feature<br><!-- Not started -->
                Added Domain RSTools<br><!-- In progress -->
                &nbsp&nbsp&nbsp - Implemented GE Higher or Lower <br><!-- Not started -->
                <!-- Best drop of the week? -->
                &nbsp&nbsp&nbsp - Added Progress Leaderboard <br><!-- Not started -->
                &nbsp&nbsp&nbsp - Added Stat Lookup <br><!-- Not started -->
                <!-- Most xp gained? -->
                &nbsp&nbsp&nbsp Further updates to RSTools will not be tracked here<br>
            </p>
          <button onclick = "navigateUpdateLog()" class="btn btn-outline-secondary" type="button">Update Log</button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 🛠️CSTools 2023
    </footer>
  </div>
</main>
    
</body>
{% load static %}
{% load compress %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

{% compress js %}
<script  type="text/javascript" src="{% static 'js/case.js' %}"></script>
{% endcompress js %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CSTools</title>
        <!-- tab bar icon-->


        <!-- Bootstrap icons-->
       
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    </head>

    <body>
        
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/index.js' %}"></script>

   
     
    </body>
</html>

