<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load compress  %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>RSTools</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="{% static 'images/rstoolsimg/skill.png'%}" />




  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">


  <!-- Main CSS File -->
  <link href="{% static 'css/rstools.css'%}" rel="stylesheet" />
  <link href="{% static 'css/leaderboard.css'%}" rel="stylesheet" />
  {% compress css %}
  <link type="text/x-scss" href="{% static 'css/statlookup.scss'%}" rel="stylesheet" />
  {% endcompress %}
  <!-- =======================================================
  * Template Name: Gp
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Updated: Aug 15 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'rstools' %}"  class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">RSTools</h1>
        <span>.</span>
      </a>

    </div>
  </header>
  {{ leaderboard_data|json_script:"leaderboard_data"}}
  {{ skill|json_script:"skill"}}
  {{ boss|json_script:"boss"}}

  {{ previous_skill|json_script:"previous_skill"}}
  {{ previous_boss|json_script:"previous_boss"}}
  <main class="main">

    <!-- Background photo -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'images/rstoolsimg/leaderboard.png'%}" alt="" data-aos="fade-in">
      
      <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100" style="padding-bottom: 10px;">
          <div class="col-xl-6 col-lg-8">
            <h2>Gains Leaderboard<span>.</span></h2>
            <p>Submit your RSN to compete in our competitions and manually update recent gains</p>

          </div>
        </div>

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100" >
          <div class="col-xl-6 col-lg-8">
            <form  action= "{% url 'leaderboard' %}" method="POST">
              {% csrf_token %}
            <span class="input" >
              <input type="text" placeholder="RSN" name="rsn" placeholder="RSN" style="text-align: center;" required>
           
       
              <span></span>	
            </span>
            <div style="padding-top: 10px;">
              <button type="submit" class="button-73" role="button" >Submit </button>
              
            </div>
            
          </form>
        </div>
        <div style="position:relative; top:2px;text-align: center;">

          <div class=" justify-content-center " style="font-size: 35px;display: flex;margin-bottom: 2px;padding-bottom: 2px;">
            <p id="days" style="padding-right: 10px;">3</p>
            <p style="padding-right: 10px;">Days  </p>
            <p style="padding-right: 10px;" id="hours">01</p>
            <p style="padding-right: 10px;">Hours  </p>
            <p style="padding-right: 10px;" id="minutes">58</p>
            <p style="padding-right: 10px;">Minutes  </p>
            <p style="padding-right: 10px;" id="seconds">48</p>
            <p style="padding-right: 10px;">Seconds  </p>
          </div>
      </div>
    </section><!-- /Hero Section -->




    <section>
      
      <div class="container marketing justify-content-center text-center">

        <!-- Three columns of text below the carousel -->
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <h1 style="font-size: 50px;font-weight: bold;padding-bottom: 10px;">Current Standings</h1>
          <div class="col-lg-4">
            <img  src="{% static 'images/rstoolsimg/skill.png'%}" alt="Generic placeholder image" width="140" height="140">
            <h2>Skill of the Week</h2>
            <h3 id="skill_current"><img  src="{% static 'images/rstoolsimg/skills/Crafting.webp'%}" alt="Generic placeholder image" style="width: 35px;"> Crafting</h3>
         
              <b><p id="firstplaceskill" style="font-size: 20px;">#1 Artillery - N/A XP</p></b>
              <p id="secondplaceskill">#2 Jfrith - N/A</p>
              <p id="thirdplaceskill">#3 GalloRS - N/A</p>
              <div id="leaderboardskill">
              </div>
  
            <p><a class="btn btn-secondary" onclick="expandLeaderboard('skill')" role="button">View all »</a></p>

          </div data-aos="fade-up" data-aos-delay="200"><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img  src="{% static 'images/rstoolsimg/overall.webp'%}" alt="Generic placeholder image" width="140" height="140">
            <h2>Total XP Gained</h2>
             <b><p style="font-size: 20px;" id="firstplaceoverall">#1 Artillery - N/A XP</p></b>
            <p id="secondplaceoverall">#2 Jfrith - N/A XP</p>
            <p id="thirdplaceoverall">#3 GalloRS - N/A XP</p>
            <div id="leaderboardoverall">
            </div>
            <p><a class="btn btn-secondary" onclick="expandLeaderboard('totalxp')" role="button">View all »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <img  src="{% static 'images/rstoolsimg/boss.png'%}" alt="Generic placeholder image" width="140" height="140">
            <h2>Boss of the Week</h2>
            <h3 id="boss_current"><img  src="{% static 'images/rstoolsimg/minigame/Chambers of Xeric.png'%}" alt="Generic placeholder image" style="width: 35px;"> Chambers of Xeric</h3>
            <b><p style="font-size: 20px;"id="firstplaceboss">#1 Artillery - N/A Kills</p></b>
            <p id="secondplaceboss">#2 Jfrith - N/A Kills</p>
            <p id="thirdplaceboss">#3 GalloRS - N/A Kills</p>
            <div>
              <div id="leaderboardboss">
              </div>
              <p><a class="btn btn-secondary"role="button" onclick="expandLeaderboard('boss')">View all »</a></p>
            </div>

          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

      </div>
    </section>
    
    <section class="bg"data-aos="fade-in">
  
      <div class="container marketing justify-content-center text-center">

        <!-- Three columns of text below the carousel -->
        <div class="row"data-aos="fade-up" data-aos-delay="100">
          <h1 style="font-size: 50px;font-weight: bold;padding-bottom: 10px;color: white;">Previous Event</h1>
          <div class="col-lg-4 bgskill"  >
            <div style="padding-top: 40%;"></div>
            <img  src="{% static 'images/rstoolsimg/skillprevious.webp'%}" alt="Generic placeholder image" style="width: 131px; height:271px;">
            <h2>Skill of the Week</h2>
            <h3 id="previous_skill_div"><img  src="{% static 'images/rstoolsimg/skills/Runecrafting.webp'%}" alt="Generic placeholder image" style="width: 35px;"> Runecrafting</h3>
            <b><p style="font-size: 20px;" id="firstplaceskillprevious">#1 Artillery - N/A XP</p></b>
            <p id="secondplaceskillprevious">#2 Jfrith - N/A XP</p>
            <p id="thirdplaceskillprevious">#3 GalloRS - N/A XP</p>
            <div style="padding-bottom: 100px;"></div>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4 bgskill"data-aos="fade-up" data-aos-delay="200" >
            <img src="{% static 'images/rstoolsimg/overallprevious.webp'%}" alt="Generic placeholder image" style="padding-top: 35%;">
            <h2>Total XP Gained</h2>
             <b><p style="font-size: 20px;" id="firstplaceoverallprevious">#1 Artillery - N/A XP</p></b>
            <p id="secondplaceoverallprevious">#2 Jfrith - N/A XP</p>
            <p id="thirdplaceoverallprevious">#3 GalloRS - N/A XP</p>
            <div style="padding-bottom: 100px;"></div>

          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 bgskill"data-aos="fade-up" data-aos-delay="300" >
            <div style="padding-top: 45%;"></div>
            <img src="{% static 'images/rstoolsimg/bossprevious.webp'%}" alt="Generic placeholder image" style="width: 131px; height:271px;">
            <h2>Boss of the Week</h2>
            <h3 id="previous_boss_div" ><img src="{% static 'images/rstoolsimg/GM.png'%}" alt="Generic placeholder image" style="width: 35px;"> Giant Mole</h3>
            <b><p style="font-size: 20px;" id="firstplacebossprevious">#1 Artillery - N/A Kills</p></b>
            <p id="secondplacebossprevious">#2 Jfrith - N/A Kills</p>
            <p id="thirdplacebossprevious">#3 GalloRS - N/A Kills</p>
            <div style="padding-bottom: 100px;"></div>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

      </div>

    </section><!-- /About Section -->
    <script src="{% static 'js/leaderboard.js' %}"></script>
    <script>

      populateLeaderboard()
   
   
   
   
   </script>
  </footer>
  </main>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->


  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <!-- Main JS File -->
  <script src="{% static 'js/rstools.js' %}"></script>

</body>

</html>