<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>RSTools</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="{% static 'images/rstoolsimg/Fire_rune.webp'%}" />



  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">


  <!-- Main CSS File -->
  <link href="{% static 'css/rstools.css'%}" rel="stylesheet" />
 

  <!-- =======================================================
  * Template Name: Gp
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Updated: Aug 15 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="#home" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">RSTools</h1>
        <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#patchnotes">Patch Notes</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="https://www.youtube.com/watch?v=q-Y0bnx6Ndw">Secret Button</a>

    </div>
  </header>

  <main class="main">

    <!-- Background photo -->
    <section id="home" class="hero section dark-background">

      <img src="{% static 'images/rstoolsimg/hero-bg.jpg'%}" alt="" data-aos="fade-in">
      
      <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-6 col-lg-8">
            <h2>Old School Runescape Tools<span>.</span></h2>
            <p>"The best website for OSRS" - Woox</p>
          </div>
        </div>

        <div  class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <div   style="cursor: pointer;" onclick="navigateStatLookup()"  class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i><img   style="position: relative;height: 60px;" src="{% static 'images/rstoolsimg/stats.webp'%}" alt=""></i>
              <h3><a  href="{% url 'statlookup' %}">Stat Lookup</a></h3>
            </div>
          </div>
           
          <div style="cursor: pointer;" onclick="navigateXpLeaderBoard()"  class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <i class="bi bi-card-list"></i>
              <h3><a href="{% url 'xpleaderboard' %}" >Xp Leaderboard</a></h3>
            </div>
          </div>
          <div style="cursor: pointer;" onclick="navigateLootSimulator()" class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="700">
            <div class="icon-box">
              <i><img   style="position: relative;height: 50px;" src="{% static 'images/rstoolsimg/loot.png'%}" alt=""></i>
              <h3><a href="{% url 'lootsimulator' %}" >Loot Simulator</a></h3>
            </div>
          </div>

          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="700">
            <div class="icon-box">
              <i><img   style="position: relative;height: 50px;" src="{% static 'images/rstoolsimg/clue.webp'%}" alt=""></i>
              <h3><a >Clue Simulator</a></h3>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'images/rstoolsimg/about.jpg'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content">
            <h3>About RSTools</h3>
            <p class="fst-italic">
                This website is a personal project being developed for fun to combine my intrests in Video Games
                 and Computer Science. After maxing my main account ArtilleryRS I got bored... 
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>101% free to use.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Devoid of any intrusive advertisements.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Continues to receive regular updates to improve functionality and 
                implement new features.</span></li>
            </ul>
            <p class="fst-italic">
                RSTools began development 12th of September 2024. As a one-person initiative, I warmly welcome any insights or recommendations you might wish 
                to share, for they are genuinely appretiated and actively sought.
                If you like the site, consider checking out my other project <a style="color: black;" href="{% url 'index' %}"><b>CSTools</b></a>.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Farming.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Agility.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Hitpoints.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Hunter.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Runecrafting.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Prayer.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Woodcutting.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Magic.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Attack.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Construction.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Cooking.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Crafting.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Defence.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Firemaking.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Fishing.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Fletching.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Herblore.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Mining.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Ranged.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Slayer.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Smithing.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Strength.webp'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/rstoolsimg/skills/Thieving.webp'%}" class="img-fluid" alt=""></div>

          </div>
         
        </div>

      </div>

    </section><!-- /Clients Section -->

    <!-- Patch Notes Section -->
    <section id="patchnotes" class="features section">

      
      <div class="container">
        <div class="row gy-7">
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'images/rstoolsimg/features-bg.jpg'%}" alt=""></div>

          <div class="col-lg-3">
            <h3 style="padding-left: 10%;"> <b>Patch Notes</b></h3>

            <div class="features-item d-flex ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'images/rstoolsimg/Fire_rune.webp'%}" class="flex-shrink-0" style="width: 30px;height: 30px;margin: 10px;"></img>
              <div>
                <h4>XX/XX/XXXX</h4>
                <p>Site went live🎉</p>
              </div>
            </div>

            <div class="features-item d-flex ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200"style="margin-top: 10px;">
              <img src="{% static 'images/rstoolsimg/Nature_rune.webp'%}" class="flex-shrink-0" style="width: 30px;height: 30px;margin: 10px;"></img>
              <div>
                <h4>XX/XX/XXXX</h4>
                <p>Added ClueScroll Simulator📜 </p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200"style="margin-top: 10px;">
              <img src="{% static 'images/rstoolsimg/Death_rune.webp'%}" class="flex-shrink-0" style="width: 30px;height: 30px;margin: 10px;"></img>
              <div>
                <h4>XX/XX/XXXX</h4>
                <p>Added Loot Simulator💰 </p>
                <p>-God Wars Bosses </p>
                <p>-Slayer Bosses </p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200"style="margin-top: 10px;">
              <img src="{% static 'images/rstoolsimg/Cosmic_rune.webp'%}" class="flex-shrink-0" style="width: 30px;height: 30px;margin: 10px;"></img>
              <div>
                <h4>XX/XX/XXXX</h4>
                <p>Higher or Lower ↕️ </p>
              </div>
            </div><!-- End Features Item-->
          </div>
          <div class="col-lg-3">
            <h3 style="visibility: hidden;"> <b>Patch Notes</b></h3>
            <div class="features-item d-flex ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200"style="margin-top: 10px;">
              <img src="{% static 'images/rstoolsimg/Cosmic_rune.webp'%}" class="flex-shrink-0" style="width: 30px;height: 30px;margin: 10px;"></img>
              <div>
                <h4>XX/XX/XXXX</h4>
                <p>Added Progression Leaderboard📊 </p>
              </div>
            </div><!-- End Features Item-->
            
            <div class="features-item d-flex  ps-lg-3" data-aos="fade-up" data-aos-delay="300" style="margin-top: 10px;">
              <img src="{% static 'images/rstoolsimg/Water_rune.webp'%}" class="flex-shrink-0" style="width: 30px;height: 30px;margin: 10px;"></img>
              <div>
                <h4>04/10/2024</h4>
                <p>Implemented Stat Lookup🔎</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex ps-lg-3" data-aos="fade-up" data-aos-delay="400"style="margin-top: 10px;">
              <img src="{% static 'images/rstoolsimg/Earth_rune.webp'%}" class="flex-shrink-0" style="width: 30px;height: 30px;margin: 10px;"></img>
              <div>
                <h4>14/09/2024</h4>
                <p>-Designed and Implemented home page🏠</p>
              </div>
            </div><!-- End Features Item mt-5 ps-0-->
            <div class="features-item d-flex ps-lg-3" data-aos="fade-up" data-aos-delay="400"style="margin-top: 10px;">
              <img src="{% static 'images/rstoolsimg/Law_rune.webp'%}" class="flex-shrink-0" style="width: 30px;height: 30px;margin: 10px;"></img>
                <div>
                  <h4>12/09/2024</h4>
                  <p>-RSTools Began Development🔧</p>
                </div>
              </div><!-- End Features Item-->
            </div>
          
        </div>

      </div>

    </section><!-- /Features Section -->

   

    <div class="copyright">
      <div class="container text-center">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">RSTools</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        </div>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->


  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <!-- Main JS File -->
  <script src="{% static 'js/rstools.js' %}"></script>

</body>

</html>