<!DOCTYPE html>
<html lang="en">

{% load static %}

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Skin Master</title>
        <!-- tab bar icon-->
        <link rel="icon" type="image/x-icon" href="{% static 'images/tools.png'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        <link href="{% static 'css/skin_master.css'%}" rel="stylesheet" />
    </head>

    <body style="text-align: center;"> 
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
            <div class="container px-lg-5">
              <img href="{% url 'index' %}" src="/static/images/tools.png" width="20" height="auto" class="me-2" alt="tool emoji" style="display: block;">
                <a class="navbar-brand" href="{% url 'index' %}">CSTools</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'calculator' %}">Case Calculator</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'sticker' %}">Sticker Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'roulette' %}">Strat Roulette</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'bind' %}">Bind Generator</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="{% url 'skin_master' %}">Skin Master</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://steamcommunity.com/tradeoffer/new/?partner=127649164&token=AG79v66Q">DONATE (Trade Link)</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Content -->
  
        <section >
            <div>
              <video autoplay loop muted plays-inline class="back-video">
                <source src="/static/videos/TEST.mp4">
              </video>
                <p1 style="font-size: 100px;">
                 Skin Master
                </p1><br>
                <p2>
                    Put your CS2 skins expertise to the test in 3 types of modes and compete with fellow enthusiasts to discover where you stand among them.
                </p2>
                <br>
       
                <nav role="skinmaster">
                    <ul>
                      <li onclick="play_button()">
                        Play
                        <span></span><span></span><span></span><span></span>
                      </li>
                      <li onclick="leaderboard_button()">
                        Leaderboard
                        <span></span><span></span><span></span><span></span>
                      </li>
                      <li onclick="about_button()">
                        About
                        <span></span><span></span><span></span><span></span>
                      </li>
                      <li onclick="report_bug_screen_button()">
                        Report Bug
                        <span></span><span></span><span></span><span></span>
                      </li>
                    </ul>
                  </nav>
            </div>
   
         
            <!-- Could also add timed at a later date-->

        </section>
        <!-- Footer-->
        <div style="height: 26px;background-color:  rgba(27, 27, 27, 0.9);position: fixed;text-align: center;bottom: 0px;width: 100%; "><p class="m-0 text-center text-white">Copyright &copy; CSTools 2023</p></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/skin_master.js' %}"></script>
    </body>
</html>

