<!DOCTYPE html>
<html lang="en">

{% load static %}

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Skin Master</title>
        <!-- tab bar icon-->
        <link rel="icon" type="image/x-icon" href="{% static 'skins/pistols/deserteagle/purple/Blaze.png'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        <link href="{% static 'css/skin_master.css'%}" rel="stylesheet" />
    </head>

    <body  style="background-color: black;">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
            <div class="container px-lg-5">
              <img href="{% url 'index' %}" src="/static/images/tools.png" width="20" height="auto" class="me-2" alt="tool emoji" style="display: block;">
                <a class="navbar-brand" href="{% url 'index' %}">CSTools</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'calculator' %}">Case Calculator</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'sticker' %}">Sticker Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'roulette' %}">Strat Roulette</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'bind' %}">Bind Generator</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="{% url 'skin_master' %}">Skin Master</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://steamcommunity.com/tradeoffer/new/?partner=127649164&token=AG79v66Q">DONATE (Trade Link)</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Content -->
       
        <section style="margin: auto;padding: auto;text-align: center;align-items: center;width: 100%;"> 
            <div style="text-align: center;align-items: center;width: 100%;" >
                <p1 style="font-size: 70px;color: goldenrod;"><b>Competitive Leaderboard</b></p1><br>
            </div>
            <div>
                <style> 
                    table { 
                        border-collapse: collapse; 
                        width: 100%; 
                    } 
                      
                    th, td { 
                        text-align: left; 
                        font-size: 30px;
                        padding: 8px; 
                        color: white;
                        height: 56px;
                        
                    } 
                    .blackborder{
                        background-color: black;
                        text-align: left; 
                        font-size: 30px;
                        
                        color: white;
                        height: 15px;
                    }
                    tr{
                        background-color: rgb(197, 177, 62);
        

                   
                    }
                    tr:nth-child(even) { 
                        background-color: rgb(138, 118, 6); 
                    } 
                </style> 
            </head> 
              
        
                <div style="padding: 5%;padding-top: 0%;">
                    <table>
                        <tr style="background-color: rgb(138, 118, 6)"> 
                            <td>Player ID</td> 
                            <td>Name</td> 
                            <td>Streak</td> 
                            <td>Rank</td>
                            <td>Score</td>
                        </tr> 
                        <tr > 
                            <td class="blackborder" ></td> 
                            <td class="blackborder"></td> 
                            <td class="blackborder"></td> 
                            <td class="blackborder"></td>
                            <td class="blackborder"></td>
                        </tr> 
                        <tr> 
                            <td>Steve</td> 
                            <td>Manager</td> 
                            <td>1,00,000</td> 
                            <td>1,00,000</td>
                            <td>1,00,000</td>
                        </tr> 
                          
                        <tr> 
                            <td>SURAJ</td> 
                            <td>Assistant Manager</td> 
                            <td>50,000</td> 
                            <td>1,00,000</td>
                            <td>1,00,000</td>
                        </tr> 
                          
                        <tr> 
                            <td>Khushboo</td> 
                            <td>Analysist</td> 
                            <td>65,000</td> 
                            <td>1,00,000</td>
                            <td>1,00,000</td>
                        </tr> 
                          
                        <tr> 
                            <td>Kartik</td> 
                            <td>Worker</td> 
                            <td>20,000</td> 
                            <td>1,00,000</td>
                            <td>1,00,000</td>
                        </tr> 
                          
                        <tr> 
                            <td>Saksham</td> 
                            <td>Worker</td> 
                            <td>20,000</td> 
                            <td>1,00,000</td>
                            <td>1,00,000</td>
                        </tr> 
                    </table> 
                </div>
               
         
            </div>
             <!-- Skin look up 
            Need a way to navigate via gun and rarity colour to look up 
            need a practise game that has no score attached
            -->
        <!-- Footer-->
        </section>
        <!-- Footer-->
        <div style="height: 26px;background-color:  rgba(27, 27, 27, 0.9);position: fixed;text-align: center;bottom: 0px;width: 100%; "><p class="m-0 text-center text-white">Copyright &copy; CSTools 2023</p></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/skin_master.js' %}"></script>
    </body>
</html>

