<!DOCTYPE html>
<html lang="en">

{% load static %}

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CS:GO Tools Sticker Search</title>
        <!-- tab bar icon-->
        <link rel="icon" type="image/x-icon" href="{% static 'stickers/Holo/ESLKatowice14/iBUYPOWER_(Holo).png'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
      
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        <link href="{% static 'css/stickerstyle.css'%}" rel="stylesheet" />
    </head>
    <body style="background-color: #353434;" >
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="{% url 'index' %}">CS:GO Tools</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'calculator' %}">Case Calculator</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'sticker' %}">Sticker Search</a></li>
                        <li class="nav-item"><a class="nav-link"  href="{% url 'roulette' %}">Strat Roulette</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://steamcommunity.com/tradeoffer/new/?partner=127649164&token=AG79v66Q">DONATE (Trade Link)</a></li>
                    </ul>
                </div>
            </div>
        </nav>
   

        {{ ClujNapoca2015.filespaper|json_script:"ClujNapoca2015_filespaper" }}
        {{ ClujNapoca2015.filesholo|json_script:"ClujNapoca2015_filesholo" }}
        {{ ClujNapoca2015.filesfoil|json_script:"ClujNapoca2015_filesfoil" }}
        {{ ClujNapoca2015.filesgold|json_script:"ClujNapoca2015_filesgold" }}

        {{ ESLKatowice14.filespaper|json_script:"ESLKatowice14_filespaper" }}
        {{ ESLKatowice14.filesholo|json_script:"ESLKatowice14_filesholo" }}
        {{ ESLKatowice14.filesfoil|json_script:"ESLKatowice14_filesfoil" }}
        {{ ESLKatowice14.filesgold|json_script:"ESLKatowice14_filesgold" }}

        {{ DreamHack13.filespaper|json_script:"DreamHack13_filespaper" }}
        {{ DreamHack13.filesholo|json_script:"DreamHack13_filesholo" }}
        {{ DreamHack13.filesfoil|json_script:"DreamHack13_filesfoil" }}
        {{ DreamHack13.filesgold|json_script:"DreamHack13_filesgold" }}
        
        {{ DreamHack14.filespaper|json_script:"DreamHack14_filespaper" }}
        {{ DreamHack14.filesholo|json_script:"DreamHack14_filesholo" }}
        {{ DreamHack14.filesfoil|json_script:"DreamHack14_filesfoil" }}
        {{ DreamHack14.filesgold|json_script:"DreamHack14_filesgold" }}

        {{ ELEAGUEAtlanta17.filespaper|json_script:"ELEAGUEAtlanta17_filespaper" }}
        {{ ELEAGUEAtlanta17.filesholo|json_script:"ELEAGUEAtlanta17_filesholo" }}
        {{ ELEAGUEAtlanta17.filesfoil|json_script:"ELEAGUEAtlanta17_filesfoil" }}
        {{ ELEAGUEAtlanta17.filesgold|json_script:"ELEAGUEAtlanta17_filesgold" }}

        {{ ELEAGUEBoston18.filespaper|json_script:"ELEAGUEBoston18_filespaper" }}
        {{ ELEAGUEBoston18.filesholo|json_script:"ELEAGUEBoston18_filesholo" }}
        {{ ELEAGUEBoston18.filesfoil|json_script:"ELEAGUEBoston18_filesfoil" }}
        {{ ELEAGUEBoston18.filesgold|json_script:"ELEAGUEBoston18_filesgold" }}

        {{ ESLCologne14.filespaper|json_script:"ESLCologne14_filespaper" }}
        {{ ESLCologne14.filesholo|json_script:"ESLCologne14_filesholo" }}
        {{ ESLCologne14.filesfoil|json_script:"ESLCologne14_filesfoil" }}
        {{ ESLCologne14.filesgold|json_script:"ESLCologne14_filesgold" }}
        
        {{ ESLCologne16.filespaper|json_script:"ESLCologne16_filespaper" }}
        {{ ESLCologne16.filesholo|json_script:"ESLCologne16_filesholo" }}
        {{ ESLCologne16.filesfoil|json_script:"ESLCologne16_filesfoil" }}
        {{ ESLCologne16.filesgold|json_script:"ESLCologne16_filesgold" }}

        {{ ESLCologne15.filespaper|json_script:"ESLCologne15_filespaper" }}
        {{ ESLCologne15.filesholo|json_script:"ESLCologne15_filesholo" }}
        {{ ESLCologne15.filesfoil|json_script:"ESLCologne15_filesfoil" }}
        {{ ESLCologne15.filesgold|json_script:"ESLCologne15_filesgold" }}

        {{ ESLKatowice15.filespaper|json_script:"ESLKatowice15_filespaper" }}
        {{ ESLKatowice15.filesholo|json_script:"ESLKatowice15_filesholo" }}
        {{ ESLKatowice15.filesfoil|json_script:"ESLKatowice15_filesfoil" }}
        {{ ESLKatowice15.filesgold|json_script:"ESLKatowice15_filesgold" }}

        {{ FACEITLondon18.filespaper|json_script:"FACEITLondon18_filespaper" }}
        {{ FACEITLondon18.filesholo|json_script:"FACEITLondon18_filesholo" }}
        {{ FACEITLondon18.filesfoil|json_script:"FACEITLondon18_filesfoil" }}
        {{ FACEITLondon18.filesgold|json_script:"FACEITLondon18_filesgold" }}
        
        {{ ESLKatowice19.filespaper|json_script:"ESLKatowice19_filespaper" }}
        {{ ESLKatowice19.filesholo|json_script:"ESLKatowice19_filesholo" }}
        {{ ESLKatowice19.filesfoil|json_script:"ESLKatowice19_filesfoil" }}
        {{ ESLKatowice19.filesgold|json_script:"ESLKatowice19_filesgold" }}

        {{ IntelRio22.filespaper|json_script:"IntelRio22_filespaper" }}
        {{ IntelRio22.filesholo|json_script:"IntelRio22_filesholo" }}
        {{ IntelRio22.filesfoil|json_script:"IntelRio22_filesfoil" }}
        {{ IntelRio22.filesgold|json_script:"IntelRio22_filesgold" }}

        {{ MLGColumbus16.filespaper|json_script:"MLGColumbus16_filespaper" }}
        {{ MLGColumbus16.filesholo|json_script:"MLGColumbus16_filesholo" }}
        {{ MLGColumbus16.filesfoil|json_script:"MLGColumbus16_filesfoil" }}
        {{ MLGColumbus16.filesgold|json_script:"MLGColumbus16_filesgold" }}

        {{ PGLStockholm21.filespaper|json_script:"PGLStockholm21_filespaper" }}
        {{ PGLStockholm21.filesholo|json_script:"PGLStockholm21_filesholo" }}
        {{ PGLStockholm21.filesfoil|json_script:"PGLStockholm21_filesfoil" }}
        {{ PGLStockholm21.filesgold|json_script:"PGLStockholm21_filesgold" }}
        
        {{ PGLAntwerp22.filespaper|json_script:"PGLAntwerp22_filespaper" }}
        {{ PGLAntwerp22.filesholo|json_script:"PGLAntwerp22_filesholo" }}
        {{ PGLAntwerp22.filesfoil|json_script:"PGLAntwerp22_filesfoil" }}
        {{ PGLAntwerp22.filesgold|json_script:"PGLAntwerp22_filesgold" }}

        {{ PGLKrakow17.filespaper|json_script:"PGLKrakow17_filespaper" }}
        {{ PGLKrakow17.filesholo|json_script:"PGLKrakow17_filesholo" }}
        {{ PGLKrakow17.filesfoil|json_script:"PGLKrakow17_filesfoil" }}
        {{ PGLKrakow17.filesgold|json_script:"PGLKrakow17_filesgold" }}
        
        {{ StarLadderBerlin19.filespaper|json_script:"StarLadderBerlin19_filespaper" }}
        {{ StarLadderBerlin19.filesholo|json_script:"StarLadderBerlin19_filesholo" }}
        {{ StarLadderBerlin19.filesfoil|json_script:"StarLadderBerlin19_filesfoil" }}
        {{ StarLadderBerlin19.filesgold|json_script:"StarLadderBerlin19_filesgold" }}

        {{ RMR20.filespaper|json_script:"RMR20_filespaper" }}
        {{ RMR20.filesholo|json_script:"RMR20_filesholo" }}
        {{ RMR20.filesfoil|json_script:"RMR20_filesfoil" }}
        {{ RMR20.filesgold|json_script:"RMR20_filesgold" }}
        
        {{ Misc.filespaper|json_script:"Misc_filespaper" }}
        {{ Misc.filesholo|json_script:"Misc_filesholo" }}
        {{ Misc.filesfoil|json_script:"Misc_filesfoil" }}
        {{ Misc.filesgold|json_script:"Misc_filesgold" }}

        {{ Paris23.filespaper|json_script:"Paris23_filespaper" }}
        {{ Paris23.filesholo|json_script:"Paris23_filesholo" }}
        {{ Paris23.filesfoil|json_script:"Paris23_filesfoil" }}
        {{ Paris23.filesgold|json_script:"Paris23_filesgold" }}
        <div id="Paper" class="tabcontent" >
            <h1>Paper</h1>
            <p id="stickerDescPaper">EMS Katowice 2014 Non-Holo Stickers.</p>
            
        </div>
        
        <div id="Holo" class="tabcontent">
            <h1>Holo</h1>
            <p id="stickerDescHolo">EMS Katowice 2014 Holo Stickers.</p>
        </div>
        
        <div id="Foil" class="tabcontent">
            <h1>Foil</h1>
            <p id="stickerDescFoil">EMS Katowice 2014 Foil Stickers.</p>
        </div>
        
        <div id="Gold" class="tabcontent">
            <h1>Gold</h1>
            <p id="stickerDescGold">No Gold Stickers for Katowice 2014.</p>
        </div>
        
        <button class="tablink" onclick="openTitleTab('Paper', this, '#0d6efd');openTabContent(event, 'Paper');" id="defaultOpen">Paper</button>
        <button class="tablink" onclick="openTitleTab('Holo', this, '#6f42c1');openTabContent(event, 'Holo');">Holo</button>
        <button class="tablink" onclick="openTitleTab('Foil', this, '#d63384');openTabContent(event, 'Foil');">Foil</button>
        <button class="tablink" onclick="openTitleTab('Gold', this, '#ffc107');openTabContent(event, 'Gold');">Gold</button> 
        
        
        
        <div style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);">
            <select class="tag_tournament" id="tournamentSelector" onchange="updateStickers(value)"style="background-color: #212121; color: white;border-radius: 5px;border: 2px solid #6c757d;height:  30px;" >
                <option value="ESLKatowice14">Select Tournament</option>
                <option disabled="disabled">──────────</option>
                <option value="Paris23">Paris'23</option>
                <option value="IntelRio22">Intel Rio'22</option>
                <option value="PGLAntwerp22">PGL Antwerp'22</option>
                <option value="PGLStockholm21">PGL Stockholm'21</option>
                <option value="RMR20">RMR'20</option>
                <option value="StarLadderBerlin19">StarLadder Berlin'19</option>
                <option value="ESLKatowice19">ESL Katowice'19</option>
                <option value="FACEITLondon18">FACEIT London'18</option>
                <option value="ELEAGUEBoston18">ELEAGUE Boston'18</option>
                <option value="PGLKrakow17">PGL Kraków'17</option>
                <option value="ELEAGUEAtlanta17">ELEAGUE Atlanta'17</option>
                <option value="ESLCologne16"> ESL Cologne'16</option>
                <option value="MLGColumbus16">MLG Columbus'16</option>
                <option value="ClujNapoca2015">Cluj⁠-⁠Napoca'15</option>
                <option value="ESLCologne15">ESL Cologne'15</option>
                <option value="ESLKatowice15">ESL Katowice'15</option>
                <option value="DreamHack14">DreamHack'14</option>
                <option value="ESLCologne14">ESL Cologne'14</option>
                <option value="ESLKatowice14">ESL Katowice'14</option>
                <option value="DreamHack13">DreamHack'13</option>
                <option value="Misc">Misc</option>
           
        </select>
      
        </div>
        
        <!-- Tab content -->
        <div id="PaperContent" class="tabcontent2" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1); border-color: #212121;color: #e8e8e8;">
            <script>
                window.onload = function() {
                    getImages();
                };
            </script>

        </div>
        
        <div id="HoloContent" class="tabcontent2" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);border-color: #212121;color: #e8e8e8;">
            <script>
                window.onload = function() {
                    getImages();
                };
            </script>

        </div>

        <div id="FoilContent" class="tabcontent2" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);border-color: #212121;color: #e8e8e8;">
             <script>
                window.onload = function() {
                    getImages();
                };
            </script>
        </div>

        <div id="GoldContent" class="tabcontent2" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);border-color: #212121; color: #e8e8e8;">
            
        </div>
        <script>
            
            document.getElementById('GoldContent').innerHTML = "No gold stickers exist for ESL Katowice 2014"; 
            
        </script>
    
        <style>

            #outer {
                background: rgb(77, 77, 75);
                text-align: center;
                
            }
            .inner {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height:160px;
                margin:10px;
                width: 10%;
                background: whitesmoke;
                vertical-align:top;
                
            }
            .inner3 {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height:160px;
                margin:10px;
                width: 10%;
                vertical-align:top;
                
            }
                    /* width */
            ::-webkit-scrollbar {
            width: 20px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgb(252, 248, 248); 
            border-radius: 10px;
            }
            
            /* Handle */
            ::-webkit-scrollbar-thumb {
            background:  rgb(104, 103, 103);
            border-radius: 10px;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
            background: rgb(148, 146, 146);
            }


            .inner4{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin:10px;
                width: 25%;
                background: gray;
                vertical-align:top;
                
            }
            .inner2 {
                display: inline;
                height:50px;
                margin:10px;
               
            }
            .button2 {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                padding: 15px 20px;
                background-color: #212121;
                border: none;
                font: inherit;
                color: #e8e8e8;
                font-size: 15px;
                font-weight: 600;
                border-radius: 20px;
                cursor: not-allowed;
                overflow: hidden;
                transition: all 0.3s ease cubic-bezier(0.23, 1, 0.320, 1);
                border: 5px solid #6c757d;
}

            .button2 span {
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
            }

            .button2::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                translate: 0 105%;
                background-color: #F53844;
                transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
            }

            .button2 svg {
                width: 32px;
                height: 32px;
                fill: #F53844;
                transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
            }
            .circleBase {
                border-radius: 50%;
                behavior: url(PIE.htc); /* remove if you don't care about IE8 */
                border: 10px solid #6c757d;
            }
            .button2:hover {
                animation: shake 0.2s linear 1;
            }

            .button2:hover::before {
                translate: 0 0;
            }

            .button2:hover svg {
                fill: #e8e8e8;
            }

            @keyframes shake {
            0% {
                rotate: 0deg;
            }

            33% {
                rotate: 10deg;
            }

            66% {
                rotate: -10deg;
            }

            100% {
                rotate: 10deg;
            }
            }
            .button3 {
                position: relative;
                background-color: #212121;
                border-radius: 5px;
                padding: 5px;
                background-repeat: no-repeat;
                box-sizing: border-box;
                width: 230px;
                height: 35px;
                color: #fff;
                border: none;
                font-size: 15px;
                transition: all .3s ease-in-out;
                z-index: 1;
                border: 2px solid #6c757d;
                overflow: hidden;
            }

            .button3::before {
                content: "";
                background-color: green;
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 700ms ease-in-out;
                display: inline-block;
            }

            .button3:hover::before {
                width: 100%;
            }
     
            label {
                display: flex;
                flex-direction: row;
                padding-left: 0.4em;
            }

            input {
                height: 20px;
                flex: 0 0 20px;
                margin-left: 5px;
            }
            img {
                transition: opacity .3s linear;
            }

            img:hover {
                opacity: .5;
                cursor: pointer;
            }

        </style>
        <div id="outer">
   
            <div class="inner circleBase" id="selectedSticker" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);"></div>
            <div class="inner circleBase" id="selectedSticker2" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);"></div>
            <div class="inner circleBase" id="selectedSticker3" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);"></div>
            <div class="inner circleBase" id="selectedSticker4" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);"></div>
            <div class="inner3"> <button id="clearStickerSelectionButton" class="button2" onclick=clearStickerSelection() >
                <span>Clear Selected
              </span>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-miterlimit="2" stroke-linejoin="round" fill-rule="evenodd" clip-rule="evenodd"><path fill-rule="nonzero" d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm0 7.425 2.717-2.718c.146-.146.339-.219.531-.219.404 0 .75.325.75.75 0 .193-.073.384-.219.531l-2.717 2.717 2.727 2.728c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.384-.073-.53-.219l-2.729-2.728-2.728 2.728c-.146.146-.338.219-.53.219-.401 0-.751-.323-.751-.75 0-.192.073-.384.22-.531l2.728-2.728-2.722-2.722c-.146-.147-.219-.338-.219-.531 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"></path></svg>
              </span>
              </button></div>
            

            
        </div> 
        <div id="outer">
            <div class="inner4" style="background-color: #212121; color: white;border-radius: 5px;border: 2px solid #6c757d;height:  35px;">
                <span > Wear:</span>
                <div class="inner4" style="border-radius: 5px; background-color: #353434;">    
                    <input id="wearFN" type="checkbox" value="&amp;category_730_Exterior%5B%5D=tag_WearCategory0">
                    <label for="wearFN">FN</label>
                </div>
            
                <div class="inner4" style="border-radius: 5px; background-color: #353434;">    
                    <input id="wearMW" type="checkbox" value="&amp;category_730_Exterior%5B%5D=tag_WearCategory1" >
                    <label for="wearMW">MW</label>
                </div> 
                <div class="inner4" style="border-radius: 5px; background-color: #353434;">    
                    <input id="wearFT" type="checkbox" value="&amp;category_730_Exterior%5B%5D=tag_WearCategory2">
                    <label for="wearFT">FT</label>
                </div>
                <div class="inner4" style="border-radius: 5px; background-color: #353434;">    
                    <input id="wearWW" type="checkbox" value="&amp;category_730_Exterior%5B%5D=tag_WearCategory3">
                    <label for="wearWW">WW</label>
                </div>
                <div class="inner4" style="border-radius: 5px; background-color: #353434;">    
                    <input id="wearBS" type="checkbox" value="&amp;category_730_Exterior%5B%5D=tag_WearCategory4">
                    <label for="wearBS">BS</label>
                </div>
            </div>
        <div id="outer">
            <div class="inner2">
            <select id="weaponSelector" style="background-color: #212121; color: white;border-radius: 5px;border: 2px solid #6c757d;height:  35px;">
                <option value="any">Any Weapon</option>
                <option disabled="disabled">──────────</option>
                <option value="tag_weapon_awp">AWP</option>
                <option value="tag_weapon_ssg08">SSG 08 (Scout)</option>
                <option value="tag_weapon_g3sg1">G3SG1</option>
                <option value="tag_weapon_scar20">SCAR-20</option>
                <option disabled="disabled">──────────</option>
                <option value="tag_weapon_ak47">AK-47</option><option value="tag_weapon_aug">AUG</option>
                <option value="tag_weapon_famas">FAMAS</option><option value="tag_weapon_galilar">Galil AR</option>
                <option value="tag_weapon_m4a1_silencer">M4A1-S</option><option value="tag_weapon_m4a1">M4A4</option>
                <option value="tag_weapon_sg556">SG 553</option><option class="hidden-xs" disabled="disabled">──────────</option>
                <option value="tag_weapon_cz75a">CZ75-Auto</option><option value="tag_weapon_deagle">Desert Eagle</option>
                <option value="tag_weapon_elite">Dual Berettas</option><option value="tag_weapon_fiveseven">Five-SeveN</option>
                <option value="tag_weapon_glock">Glock-18</option><option value="tag_weapon_hkp2000">P2000</option>
                <option value="tag_weapon_p250">P250</option><option value="tag_weapon_revolver">R8 Revolver</option>
                <option value="tag_weapon_tec9">Tec-9</option><option value="tag_weapon_usp_silencer">USP-S</option>
                <option disabled="disabled">──────────</option>
                <option value="tag_weapon_m249">M249</option>
                <option value="tag_weapon_mag7">MAG-7</option>
                <option value="tag_weapon_negev">Negev</option>
                <option value="tag_weapon_nova">Nova</option>
                <option value="tag_weapon_sawedoff">Sawed-Off</option>
                <option value="tag_weapon_xm1014">XM1014</option>
                <option disabled="disabled">──────────</option>
                <option value="tag_weapon_mac10">MAC-10</option><option value="tag_weapon_mp7">MP7</option>
                <option value="tag_weapon_mp9">MP9</option><option value="tag_weapon_p90">P90</option>
                <option value="tag_weapon_bizon">PP-Bizon</option><option value="tag_weapon_ump45">UMP-45</option> 
            </select>
            <select id="typeSelector"style="background-color: #212121; color: white;border-radius: 5px;border: 2px solid #6c757d;height:  35px;">
                <option value="">Any Type</option>
                <option value="tag_strange" class="stattrak">StatTrak™</option>
                <option value="tag_tournament" class="souvenir">Souvenir</option>
            </select>
            </div>
         
       

            <div class="inner2">
                <button class="button3" style="width: 127px;"id="searchButton" onclick=searchMarket()>Search Market</button>
                <button class="button3" id="searchIgnoreButton" onclick=searchMarketIgnore()>Search Market (Ignore Order)</button>
            </div>
        </div> 
<div class="outer" style="background-color: rgba(27, 27, 27, 0.5)"><p class="m-0 text-center text-white">Copyright &copy; CS:GO Tools 2023</p></div>
        <script>

        function searchMarketIgnore(){
            

            Hashnames = {"ESLKatowice14":"Katowice 2014",
                        "ESLCologne14":"Cologne 2014",
                        "ESLKatowice15":"Katowice 2015",
                        "IntelRio22":"Rio 2022",
                        "PGLAntwerp22":"Antwerp 2022",
                        "PGLStockholm21":"Stockholm 2021",
                        "FACEITLondon18":"London 2018",
                        "StarLadderBerlin19":"Berlin 2019",
                        "ELEAGUEBoston18":"Boston 2018",
                        "ELEAGUEAtlanta17":"Atlanta 2017",
                        "ESLCologne16":"Cologne 2016",
                        "MLGColumbus16":"MLG Columbus 2016",
                        "ClujNapoca2015":"Cluj-Napoca 2015",
                        "DreamHack14":"DreamHack 2014",
                        "DreamHack13":"",
                        "RMR20":"2020 RMR",
                        "ESLKatowice19":"Katowice 2019",
                        "PGLKrakow17":"Krakow 2017",
                        "ESLCologne15":"Cologne 2015",
                        "Misc":"",
                        "Paris23": "Paris 2023"}
            var weaponSearch = document.getElementById("weaponSelector").value;
            var typeSearch = document.getElementById("typeSelector").value;

            try{
                var stickerSearch = document.getElementById("selectedStickerImage").src;
                stickerSearch = stickerSearch.split("/")[7].substring(0, stickerSearch.split("/")[7].length-4).replaceAll("_","%20")+"%20"+ Hashnames[stickerSearch.split("/")[6]]
            }
            catch {
                var stickerSearch = ""   
            }

            try{
                var stickerSearch2 = document.getElementById("selectedSticker2Image2").src;
                stickerSearch2 = stickerSearch2.split("/")[7].substring(0, stickerSearch2.split("/")[7].length-4).replaceAll("_","%20")+"%20"+ Hashnames[stickerSearch2.split("/")[6]]
            }
            catch {
                var stickerSearch2 = ""   
            }

            try{
                var stickerSearch3 = document.getElementById("selectedSticker3Image3").src;
                stickerSearch3 = stickerSearch3.split("/")[7].substring(0, stickerSearch3.split("/")[7].length-4).replaceAll("_","%20")+"%20"+ Hashnames[stickerSearch3.split("/")[6]]
            }   
            catch {
                var stickerSearch3 = ""   
            }

            try{
                var stickerSearch4 = document.getElementById("selectedSticker4Image4").src;
                stickerSearch4 = stickerSearch4.split("/")[7].substring(0, stickerSearch4.split("/")[7].length-4).replaceAll("_","%20")+"%20"+ Hashnames[stickerSearch4.split("/")[6]]
            }
            catch {
                var stickerSearch4 = ""   
            }


            if(document.getElementById('wearFN').checked == true){

                wearSearchFN = "category_730_Exterior%5B%5D=tag_WearCategory0&"
            }
            else{
                wearSearchFN = ""
            }
            if(document.getElementById('wearMW').checked == true){

                wearSearchMW = "category_730_Exterior%5B%5D=tag_WearCategory1&"
            }        
            else{
                wearSearchMW = ""
            }    
            if(document.getElementById('wearFT').checked == true){

                wearSearchFT = "category_730_Exterior%5B%5D=tag_WearCategory2&"
            }    
            else{
                wearSearchFT = ""
            }        
            if(document.getElementById('wearWW').checked == true){

                wearSearchWW = "category_730_Exterior%5B%5D=tag_WearCategory3&"
            }   
            else{
                wearSearchWW = ""
            }         
            if(document.getElementById('wearBS').checked == true){

                wearSearchBS = "category_730_Exterior%5B%5D=tag_WearCategory4&"
            }
            else{
                wearSearchBS = ""
            }

            var stickers = '"'+stickerSearch +'"'+" "+'"'+stickerSearch2+'"'+" " +'"'+stickerSearch3+'"'+" " +'"'+stickerSearch4+'"'
            var wearCategory = ""
            var weapon =  document.getElementById("weaponSelector").value;
            var gunType = document.getElementById("typeSelector").value;
            var query = 'https://steamcommunity.com/market/search?q='+stickers+'&descriptions=1&category_730_ItemSet%5B%5D=any&'+wearSearchFN+wearSearchMW+wearSearchFT+wearSearchWW+wearSearchBS+'category_730_Weapon%5B%5D='+weapon+'&category_730_Quality%5B%5D='+gunType+'#p1_price_asc';
            window.open(query, '_blank');

        }

        function searchMarket(){


            Hashnames = {"ESLKatowice14":"Katowice 2014",
                        "ESLCologne14":"Cologne 2014",
                        "ESLKatowice15":"Katowice 2015",
                        "IntelRio22":"Rio 2022",
                        "PGLAntwerp22":"Antwerp 2022",
                        "PGLStockholm21":"Stockholm 2021",
                        "FACEITLondon18":"London 2018",
                        "StarLadderBerlin19":"Berlin 2019",
                        "ELEAGUEBoston18":"Boston 2018",
                        "ELEAGUEAtlanta17":"Atlanta 2017",
                        "ESLCologne16":"Cologne 2016",
                        "MLGColumbus16":"MLG Columbus 2016",
                        "ClujNapoca2015":"Cluj-Napoca 2015",
                        "DreamHack14":"DreamHack 2014",
                        "DreamHack13":"",
                        "RMR20":"2020 RMR",
                        "ESLKatowice19":"Katowice 2019",
                        "PGLKrakow17":"Krakow 2017",
                        "ESLCologne15":"Cologne 2015",
                        "Misc":"",
                        "Paris23": "Paris 2023"}
            var weaponSearch = document.getElementById("weaponSelector").value;
            var typeSearch = document.getElementById("typeSelector").value;

            try{
                var stickerSearch = document.getElementById("selectedStickerImage").src;
                stickerSearch = stickerSearch.split("/")[7].substring(0, stickerSearch.split("/")[7].length-4).replaceAll("_","%20")+"%20"+ Hashnames[stickerSearch.split("/")[6]]
            }
            catch {
                var stickerSearch = ""   
            }

            try{
                var stickerSearch2 = document.getElementById("selectedSticker2Image2").src;
                stickerSearch2 = stickerSearch2.split("/")[7].substring(0, stickerSearch2.split("/")[7].length-4).replaceAll("_","%20")+"%20"+ Hashnames[stickerSearch2.split("/")[6]]
            }
            catch {
                var stickerSearch2 = ""   
            }

            try{
                var stickerSearch3 = document.getElementById("selectedSticker3Image3").src;
                stickerSearch3 = stickerSearch3.split("/")[7].substring(0, stickerSearch3.split("/")[7].length-4).replaceAll("_","%20")+"%20"+ Hashnames[stickerSearch3.split("/")[6]]
            }   
            catch {
                var stickerSearch3 = ""   
            }

            try{
                var stickerSearch4 = document.getElementById("selectedSticker4Image4").src;
                stickerSearch4 = stickerSearch4.split("/")[7].substring(0, stickerSearch4.split("/")[7].length-4).replaceAll("_","%20")+"%20"+ Hashnames[stickerSearch4.split("/")[6]]
            }
            catch {
                var stickerSearch4 = ""   
            }
            

            if(document.getElementById('wearFN').checked == true){

                wearSearchFN = "category_730_Exterior%5B%5D=tag_WearCategory0&"
            }
            else{
                wearSearchFN = ""
            }
            if(document.getElementById('wearMW').checked == true){

                wearSearchMW = "category_730_Exterior%5B%5D=tag_WearCategory1&"
            }        
            else{
                wearSearchMW = ""
            }    
            if(document.getElementById('wearFT').checked == true){

                wearSearchFT = "category_730_Exterior%5B%5D=tag_WearCategory2&"
            }    
            else{
                wearSearchFT = ""
            }        
            if(document.getElementById('wearWW').checked == true){

                wearSearchWW = "category_730_Exterior%5B%5D=tag_WearCategory3&"
            }   
            else{
                wearSearchWW = ""
            }         
            if(document.getElementById('wearBS').checked == true){

                wearSearchBS = "category_730_Exterior%5B%5D=tag_WearCategory4&"
            }
            else{
                wearSearchBS = ""
            }
            
            var stickers = stickerSearch +" "+stickerSearch2+" " +stickerSearch3+" " +stickerSearch4
            var wearCategory = ""
            var weapon =  document.getElementById("weaponSelector").value;
            var gunType = document.getElementById("typeSelector").value;
            var query = 'https://steamcommunity.com/market/search?q='+'"'+stickers+'"'+'&descriptions=1&category_730_ItemSet%5B%5D=any&'+wearSearchFN+wearSearchMW+wearSearchFT+wearSearchWW+wearSearchBS+'category_730_Weapon%5B%5D='+weapon+'&category_730_Quality%5B%5D='+gunType+'#p1_price_asc';
            window.open(query, '_blank');
            
        }

        function clearStickerSelection(){

            document.getElementById("selectedSticker").innerHTML =""
            document.getElementById("selectedSticker2").innerHTML =""
            document.getElementById("selectedSticker3").innerHTML =""
            document.getElementById("selectedSticker4").innerHTML =""

        }
        function getImages(){

        var tournamantName = document.getElementById("tournamentSelector").value
        updateStickers(tournamantName)
        }

       


        function displayStickerSelected(stickerdiv,value,imagez){
            var img = document.createElement("IMG");
            url = "/static/stickers/"+value+".png"
            img.src = url;
            img.id = stickerdiv+imagez;
            var myVariable = value
            img.style.width = "155px";
            img.style.height = "auto";
            img.addEventListener("click", function(){removeSelected(stickerdiv) });; 
            document.getElementById(stickerdiv).appendChild(img);

        }

        function removeSelected(id){
            document.getElementById(id).innerHTML =""
        }

        function stickerSelected(value){
            var contentCheck = document.getElementById("selectedSticker").innerHTML ===""
            var contentCheck2 = document.getElementById("selectedSticker2").innerHTML ==="";
            var contentCheck3 = document.getElementById("selectedSticker3").innerHTML ==="";
            var contentCheck4 = document.getElementById("selectedSticker4").innerHTML ==="";
            if(contentCheck==true){
                displayStickerSelected("selectedSticker",value,"Image");
   
            }
       
            else if(contentCheck2==true){
                displayStickerSelected("selectedSticker2",value,"Image2");
           
            }
            else if(contentCheck3==true){
                displayStickerSelected("selectedSticker3",value,"Image3");
           
            }
    
            else if(contentCheck4==true){
                displayStickerSelected("selectedSticker4",value,"Image4");
           
            }
            else{
                alert("Sticker selection full")
            }

            
            }

        function makeImages(value,stickerType){
            var img = document.createElement("IMG");
            url = "/static/stickers/"+stickerType+"\\"+value+".png"
            img.src = url;
            img.id = ""+stickerType+"\\"+value;
            var myVariable = value
            img.style.width = "155px";
            img.style.height = "auto"; 
            img.addEventListener("click", function(){stickerSelected(img.id) });;
            document.getElementById(stickerType+'Content').appendChild(img);
      
        }

        function updateStickers(tournamantName){

            document.getElementById('PaperContent').innerHTML = "";
            document.getElementById('HoloContent').innerHTML = "";
            document.getElementById('FoilContent').innerHTML = "";
            document.getElementById('GoldContent').innerHTML = "";

            document.getElementById('stickerDescPaper').innerHTML = tournamantName + " Paper Stickers";
            document.getElementById('stickerDescHolo').innerHTML = tournamantName + " Holo Stickers";
            document.getElementById('stickerDescFoil').innerHTML = tournamantName + " Foil Stickers";
            document.getElementById('stickerDescGold').innerHTML = tournamantName + " Gold Stickers";


            stickerNames = JSON.parse(document.getElementById(tournamantName+'_filespaper').textContent).sort();
            if (stickerNames.length > 0) {
            for (let i = 0; i < stickerNames.length; i++) {
                makeImages(stickerNames[i],"Paper");
             
            }
            }
            else
            {
                document.getElementById('PaperContent').innerHTML = "No paper stickers exist for "+tournamantName;

            }
            stickerNames = JSON.parse(document.getElementById(tournamantName+'_filesholo').textContent).sort();
            if (stickerNames.length > 0) {
                for (let i = 0; i < stickerNames.length; i++) {
                makeImages(stickerNames[i],"Holo");
            }

            }
            else{
                document.getElementById('HoloContent').innerHTML = "No holo stickers exist for "+tournamantName;

            }
            
            stickerNames = JSON.parse(document.getElementById(tournamantName+'_filesfoil').textContent).sort();
            if (stickerNames.length > 0) {
            for (let i = 0; i < stickerNames.length; i++) {
                makeImages(stickerNames[i],"Foil");
            }
        }
            else{
                document.getElementById('FoilContent').innerHTML = "No foil stickers exist for "+tournamantName;
            }

            stickerNames = JSON.parse(document.getElementById(tournamantName+'_filesgold').textContent).sort();
            if (stickerNames.length > 0) {

            for (let i = 0; i < stickerNames.length; i++) {
                makeImages(stickerNames[i],"Gold");
            }
        }
            else{
                document.getElementById('GoldContent').innerHTML = "No gold stickers exist for "+tournamantName;
            }
        }
        

        </script>


</section>
        
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/stickerscript.js' %}"></script>
</body>
</html>